In [1]:
import pandas as pd
from path import Path
# Load data
file_path = Path("Resources/owid-covid-data.csv")
raw_covid_df = pd.read_csv(file_path)
raw_covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [2]:
#Convert Date column to datetime
raw_covid_df['date'] = pd.to_datetime(raw_covid_df['date'], format='%Y-%m-%d')

In [3]:
raw_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151776 entries, 0 to 151775
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    151776 non-null  object
 1   continent                                   142626 non-null  object
 2   location                                    151776 non-null  object
 3   date                                        151776 non-null  datetime64[ns]
 4   total_cases                                 149154 non-null  float64
 5   new_cases                                   149032 non-null  float64
 6   new_cases_smoothed                          147881 non-null  float64
 7   total_deaths                                131989 non-null  float64
 8   new_deaths                                  132139 non-null  float64
 9   new_deaths_smoothed                         132007 non-null  float64
 10  total_cases_per_million                     148458 non-null  float64
 11  new_cases_per_million                       148336 non-null  float64
 12  new_cases_smoothed_per_million              147190 non-null  float64
 13  total_deaths_per_million                    131306 non-null  float64
 14  new_deaths_per_million                      131456 non-null  float64
 15  new_deaths_smoothed_per_million             131324 non-null  float64
 16  reproduction_rate                           113675 non-null  float64
 17  icu_patients                                18542 non-null   float64
 18  icu_patients_per_million                    18542 non-null   float64
 19  hosp_patients                               20358 non-null   float64
 20  hosp_patients_per_million                   20358 non-null   float64
 21  weekly_icu_admissions                       4280 non-null    float64
 22  weekly_icu_admissions_per_million           4280 non-null    float64
 23  weekly_hosp_admissions                      8574 non-null    float64
 24  weekly_hosp_admissions_per_million          8574 non-null    float64
 25  new_tests                                   60362 non-null   float64
 26  total_tests                                 61737 non-null   float64
 27  total_tests_per_thousand                    61737 non-null   float64
 28  new_tests_per_thousand                      60362 non-null   float64
 29  new_tests_smoothed                          73687 non-null   float64
 30  new_tests_smoothed_per_thousand             72991 non-null   float64
 31  positive_rate                               68804 non-null   float64
 32  tests_per_case                              68141 non-null   float64
 33  tests_units                                 75151 non-null   object
 34  total_vaccinations                          38575 non-null   float64
 35  people_vaccinated                           37054 non-null   float64
 36  people_fully_vaccinated                     34271 non-null   float64
 37  total_boosters                              11955 non-null   float64
 38  new_vaccinations                            31955 non-null   float64
 39  new_vaccinations_smoothed                   70182 non-null   float64
 40  total_vaccinations_per_hundred              38575 non-null   float64
 41  people_vaccinated_per_hundred               37054 non-null   float64
 42  people_fully_vaccinated_per_hundred         34271 non-null   float64
 43  total_boosters_per_hundred                  11955 non-null   float64
 44  new_vaccinations_smoothed_per_million       70182 non-null   float64
 45  new_people_vaccinated_smoothed              69021 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  69021 non-null   float64
 47  stringency_index                            118328 non-null  float64
 48  population                                  150763 non-null  float64
 49  population_density                          135119 non-null  float64
 50  median_age                                  126094 non-null  float64
 51  aged_65_older                               124724 non-null  float64
 52  aged_70_older                               125417 non-null  float64
 53  gdp_per_capita                              126501 non-null  float64
 54  extreme_poverty                             83508 non-null   float64
 55  cardiovasc_death_rate                       125103 non-null  float64
 56  diabetes_prevalence                         131514 non-null  float64
 57  female_smokers                              96901 non-null   float64
 58  male_smokers                                95505 non-null   float64
 59  handwashing_facilities                      62652 non-null   float64
 60  hospital_beds_per_thousand                  113027 non-null  float64
 61  life_expectancy                             141663 non-null  float64
 62  human_development_index                     124578 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 77.6+ MB

In [4]:
raw_covid_df.isnull().sum()

iso_code                                        0
continent                                    9150
location                                        0
date                                            0
total_cases                                  2622
                                            ...
human_development_index                     27198
excess_mortality_cumulative_absolute       146542
excess_mortality_cumulative                146542
excess_mortality                           146542
excess_mortality_cumulative_per_million    146542
Length: 67, dtype: int64

In [5]:
# Reducing dataset to last 3 months
Covid_Stats_Last3Months = raw_covid_df[raw_covid_df['date']>'2021-10-01']
Covid_Stats_Last3Months

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
586,AFG,Asia,Afghanistan,2021-10-02,155191.0,0.0,33.000,7206.0,0.0,1.000,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
587,AFG,Asia,Afghanistan,2021-10-03,155191.0,0.0,33.000,7206.0,0.0,1.000,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
588,AFG,Asia,Afghanistan,2021-10-04,155287.0,96.0,30.714,7212.0,6.0,1.714,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
589,AFG,Asia,Afghanistan,2021-10-05,155309.0,22.0,30.857,7214.0,2.0,1.857,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
590,AFG,Asia,Afghanistan,2021-10-06,155380.0,71.0,36.000,7220.0,6.0,2.286,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [6]:
Covid_Stats_Last3Months.isnull().sum()

iso_code                                       0
continent                                   1209
location                                       0
date                                           0
total_cases                                  358
                                           ...
human_development_index                     3958
excess_mortality_cumulative_absolute       21117
excess_mortality_cumulative                21117
excess_mortality                           21117
excess_mortality_cumulative_per_million    21117
Length: 67, dtype: int64

In [7]:
Covid_Stats_Last3Months.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21535 entries, 586 to 151775
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    21535 non-null  object
 1   continent                                   20326 non-null  object
 2   location                                    21535 non-null  object
 3   date                                        21535 non-null  datetime64[ns]
 4   total_cases                                 21177 non-null  float64
 5   new_cases                                   21060 non-null  float64
 6   new_cases_smoothed                          21055 non-null  float64
 7   total_deaths                                19909 non-null  float64
 8   new_deaths                                  19864 non-null  float64
 9   new_deaths_smoothed                         19864 non-null  float64
 10  total_cases_per_million                     21084 non-null  float64
 11  new_cases_per_million                       20967 non-null  float64
 12  new_cases_smoothed_per_million              20962 non-null  float64
 13  total_deaths_per_million                    19816 non-null  float64
 14  new_deaths_per_million                      19771 non-null  float64
 15  new_deaths_smoothed_per_million             19771 non-null  float64
 16  reproduction_rate                           16095 non-null  float64
 17  icu_patients                                2604 non-null   float64
 18  icu_patients_per_million                    2604 non-null   float64
 19  hosp_patients                               2748 non-null   float64
 20  hosp_patients_per_million                   2748 non-null   float64
 21  weekly_icu_admissions                       766 non-null    float64
 22  weekly_icu_admissions_per_million           766 non-null    float64
 23  weekly_hosp_admissions                      1263 non-null   float64
 24  weekly_hosp_admissions_per_million          1263 non-null   float64
 25  new_tests                                   7312 non-null   float64
 26  total_tests                                 7804 non-null   float64
 27  total_tests_per_thousand                    7804 non-null   float64
 28  new_tests_per_thousand                      7312 non-null   float64
 29  new_tests_smoothed                          10123 non-null  float64
 30  new_tests_smoothed_per_thousand             10035 non-null  float64
 31  positive_rate                               9659 non-null   float64
 32  tests_per_case                              9644 non-null   float64
 33  tests_units                                 10275 non-null  object
 34  total_vaccinations                          10222 non-null  float64
 35  people_vaccinated                           9675 non-null   float64
 36  people_fully_vaccinated                     9889 non-null   float64
 37  total_boosters                              5582 non-null   float64
 38  new_vaccinations                            8227 non-null   float64
 39  new_vaccinations_smoothed                   18985 non-null  float64
 40  total_vaccinations_per_hundred              10222 non-null  float64
 41  people_vaccinated_per_hundred               9675 non-null   float64
 42  people_fully_vaccinated_per_hundred         9889 non-null   float64
 43  total_boosters_per_hundred                  5582 non-null   float64
 44  new_vaccinations_smoothed_per_million       18985 non-null  float64
 45  new_people_vaccinated_smoothed              18702 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  18702 non-null  float64
 47  stringency_index                            14469 non-null  float64
 48  population                                  21386 non-null  float64
 49  population_density                          19076 non-null  float64
 50  median_age                                  17670 non-null  float64
 51  aged_65_older                               17484 non-null  float64
 52  aged_70_older                               17577 non-null  float64
 53  gdp_per_capita                              17867 non-null  float64
 54  extreme_poverty                             11646 non-null  float64
 55  cardiovasc_death_rate                       17577 non-null  float64
 56  diabetes_prevalence                         18528 non-null  float64
 57  female_smokers                              13578 non-null  float64
 58  male_smokers                                13392 non-null  float64
 59  handwashing_facilities                      8835 non-null   float64
 60  hospital_beds_per_thousand                  15810 non-null  float64
 61  life_expectancy                             20110 non-null  float64
 62  human_development_index                     17577 non-null  float64
 63  excess_mortality_cumulative_absolute        418 non-null    float64
 64  excess_mortality_cumulative                 418 non-null    float64
 65  excess_mortality                            418 non-null    float64
 66  excess_mortality_cumulative_per_million     418 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 11.2+ MB

In [8]:
# Data preprocessing - Removing unwanted rows having 'OWID' in their 'iso_code'
Iso_Cleaned_df = raw_covid_df[~raw_covid_df['iso_code'].astype(str).str.startswith('OWID')]
Iso_Cleaned_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [9]:
# Data preprocessing - dropping 'excess' columns'
dropped_mortality_df = Iso_Cleaned_df.drop(['excess_mortality_cumulative_absolute','excess_mortality_cumulative','excess_mortality','excess_mortality_cumulative_per_million'], axis=1)
dropped_mortality_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [10]:
dropped_mortality_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141649 entries, 0 to 151775
Data columns (total 63 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    141649 non-null  object
 1   continent                                   141649 non-null  object
 2   location                                    141649 non-null  object
 3   date                                        141649 non-null  datetime64[ns]
 4   total_cases                                 139351 non-null  float64
 5   new_cases                                   139222 non-null  float64
 6   new_cases_smoothed                          138153 non-null  float64
 7   total_deaths                                122401 non-null  float64
 8   new_deaths                                  122351 non-null  float64
 9   new_deaths_smoothed                         122291 non-null  float64
 10  total_cases_per_million                     139351 non-null  float64
 11  new_cases_per_million                       139222 non-null  float64
 12  new_cases_smoothed_per_million              138153 non-null  float64
 13  total_deaths_per_million                    122401 non-null  float64
 14  new_deaths_per_million                      122351 non-null  float64
 15  new_deaths_smoothed_per_million             122291 non-null  float64
 16  reproduction_rate                           112334 non-null  float64
 17  icu_patients                                18542 non-null   float64
 18  icu_patients_per_million                    18542 non-null   float64
 19  hosp_patients                               20358 non-null   float64
 20  hosp_patients_per_million                   20358 non-null   float64
 21  weekly_icu_admissions                       4280 non-null    float64
 22  weekly_icu_admissions_per_million           4280 non-null    float64
 23  weekly_hosp_admissions                      8574 non-null    float64
 24  weekly_hosp_admissions_per_million          8574 non-null    float64
 25  new_tests                                   60281 non-null   float64
 26  total_tests                                 61612 non-null   float64
 27  total_tests_per_thousand                    61612 non-null   float64
 28  new_tests_per_thousand                      60281 non-null   float64
 29  new_tests_smoothed                          72777 non-null   float64
 30  new_tests_smoothed_per_thousand             72777 non-null   float64
 31  positive_rate                               68590 non-null   float64
 32  tests_per_case                              67927 non-null   float64
 33  tests_units                                 74930 non-null   object
 34  total_vaccinations                          33957 non-null   float64
 35  people_vaccinated                           32441 non-null   float64
 36  people_fully_vaccinated                     29833 non-null   float64
 37  total_boosters                              8806 non-null    float64
 38  new_vaccinations                            27426 non-null   float64
 39  new_vaccinations_smoothed                   65106 non-null   float64
 40  total_vaccinations_per_hundred              33957 non-null   float64
 41  people_vaccinated_per_hundred               32441 non-null   float64
 42  people_fully_vaccinated_per_hundred         29833 non-null   float64
 43  total_boosters_per_hundred                  8806 non-null    float64
 44  new_vaccinations_smoothed_per_million       65106 non-null   float64
 45  new_people_vaccinated_smoothed              64015 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  64015 non-null   float64
 47  stringency_index                            117682 non-null  float64
 48  population                                  141649 non-null  float64
 49  population_density                          133747 non-null  float64
 50  median_age                                  125382 non-null  float64
 51  aged_65_older                               124012 non-null  float64
 52  aged_70_older                               124705 non-null  float64
 53  gdp_per_capita                              125129 non-null  float64
 54  extreme_poverty                             82136 non-null   float64
 55  cardiovasc_death_rate                       124391 non-null  float64
 56  diabetes_prevalence                         130802 non-null  float64
 57  female_smokers                              96189 non-null   float64
 58  male_smokers                                94793 non-null   float64
 59  handwashing_facilities                      61940 non-null   float64
 60  hospital_beds_per_thousand                  112315 non-null  float64
 61  life_expectancy                             140951 non-null  float64
 62  human_development_index                     123866 non-null  float64
dtypes: datetime64[ns](1), float64(58), object(4)
memory usage: 69.2+ MB

In [11]:
# Data preprocessing - dropping columns with less than 10k rows
dropped_excess_null_df=dropped_mortality_df.drop(['weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million','total_boosters_per_hundred'], axis=1)
dropped_excess_null_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [12]:
# Data preprocessing - dropping cumulative columns
taken_out_cumulative_df=dropped_excess_null_df.drop(['total_cases','total_deaths','total_tests','total_deaths_per_million','total_vaccinations_per_hundred'], axis=1)
taken_out_cumulative_df

,iso_code,continent,location,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,0.126,0.126,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,0.126,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,0.126,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,0.126,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,0.126,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,0.0,1163.429,0.0,16.000,13752.031,0.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151772,ZWE,Africa,Zimbabwe,2021-12-30,4180.0,1483.429,57.0,20.286,14028.996,276.965,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151773,ZWE,Africa,Zimbabwe,2021-12-31,1530.0,1503.143,7.0,19.000,14130.373,101.377,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151774,ZWE,Africa,Zimbabwe,2022-01-01,956.0,1495.429,13.0,18.857,14193.717,63.344,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
151775,ZWE,Africa,Zimbabwe,2022-01-02,NaN,NaN,NaN,NaN,14193.717,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [13]:
taken_out_cumulative_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141649 entries, 0 to 151775
Data columns (total 53 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    141649 non-null  object
 1   continent                                   141649 non-null  object
 2   location                                    141649 non-null  object
 3   date                                        141649 non-null  datetime64[ns]
 4   new_cases                                   139222 non-null  float64
 5   new_cases_smoothed                          138153 non-null  float64
 6   new_deaths                                  122351 non-null  float64
 7   new_deaths_smoothed                         122291 non-null  float64
 8   total_cases_per_million                     139351 non-null  float64
 9   new_cases_per_million                       139222 non-null  float64
 10  new_cases_smoothed_per_million              138153 non-null  float64
 11  new_deaths_per_million                      122351 non-null  float64
 12  new_deaths_smoothed_per_million             122291 non-null  float64
 13  reproduction_rate                           112334 non-null  float64
 14  icu_patients                                18542 non-null   float64
 15  icu_patients_per_million                    18542 non-null   float64
 16  hosp_patients                               20358 non-null   float64
 17  hosp_patients_per_million                   20358 non-null   float64
 18  new_tests                                   60281 non-null   float64
 19  total_tests_per_thousand                    61612 non-null   float64
 20  new_tests_per_thousand                      60281 non-null   float64
 21  new_tests_smoothed                          72777 non-null   float64
 22  new_tests_smoothed_per_thousand             72777 non-null   float64
 23  positive_rate                               68590 non-null   float64
 24  tests_per_case                              67927 non-null   float64
 25  tests_units                                 74930 non-null   object
 26  total_vaccinations                          33957 non-null   float64
 27  people_vaccinated                           32441 non-null   float64
 28  people_fully_vaccinated                     29833 non-null   float64
 29  total_boosters                              8806 non-null    float64
 30  new_vaccinations                            27426 non-null   float64
 31  new_vaccinations_smoothed                   65106 non-null   float64
 32  people_vaccinated_per_hundred               32441 non-null   float64
 33  people_fully_vaccinated_per_hundred         29833 non-null   float64
 34  new_vaccinations_smoothed_per_million       65106 non-null   float64
 35  new_people_vaccinated_smoothed              64015 non-null   float64
 36  new_people_vaccinated_smoothed_per_hundred  64015 non-null   float64
 37  stringency_index                            117682 non-null  float64
 38  population                                  141649 non-null  float64
 39  population_density                          133747 non-null  float64
 40  median_age                                  125382 non-null  float64
 41  aged_65_older                               124012 non-null  float64
 42  aged_70_older                               124705 non-null  float64
 43  gdp_per_capita                              125129 non-null  float64
 44  extreme_poverty                             82136 non-null   float64
 45  cardiovasc_death_rate                       124391 non-null  float64
 46  diabetes_prevalence                         130802 non-null  float64
 47  female_smokers                              96189 non-null   float64
 48  male_smokers                                94793 non-null   float64
 49  handwashing_facilities                      61940 non-null   float64
 50  hospital_beds_per_thousand                  112315 non-null  float64
 51  life_expectancy                             140951 non-null  float64
 52  human_development_index                     123866 non-null  float64
dtypes: datetime64[ns](1), float64(48), object(4)
memory usage: 58.4+ MB

In [14]:
taken_out_cumulative_df.isnull().sum()

iso_code                                           0
continent                                          0
location                                           0
date                                               0
new_cases                                       2427
new_cases_smoothed                              3496
new_deaths                                     19298
new_deaths_smoothed                            19358
total_cases_per_million                         2298
new_cases_per_million                           2427
new_cases_smoothed_per_million                  3496
new_deaths_per_million                         19298
new_deaths_smoothed_per_million                19358
reproduction_rate                              29315
icu_patients                                  123107
icu_patients_per_million                      123107
hosp_patients                                 121291
hosp_patients_per_million                     121291
new_tests                                      81368
total_tests_per_thousand                       80037
new_tests_per_thousand                         81368
new_tests_smoothed                             68872
new_tests_smoothed_per_thousand                68872
positive_rate                                  73059
tests_per_case                                 73722
tests_units                                    66719
total_vaccinations                            107692
people_vaccinated                             109208
people_fully_vaccinated                       111816
total_boosters                                132843
new_vaccinations                              114223
new_vaccinations_smoothed                      76543
people_vaccinated_per_hundred                 109208
people_fully_vaccinated_per_hundred           111816
new_vaccinations_smoothed_per_million          76543
new_people_vaccinated_smoothed                 77634
new_people_vaccinated_smoothed_per_hundred     77634
stringency_index                               23967
population                                         0
population_density                              7902
median_age                                     16267
aged_65_older                                  17637
aged_70_older                                  16944
gdp_per_capita                                 16520
extreme_poverty                                59513
cardiovasc_death_rate                          17258
diabetes_prevalence                            10847
female_smokers                                 45460
male_smokers                                   46856
handwashing_facilities                         79709
hospital_beds_per_thousand                     29334
life_expectancy                                  698
human_development_index                        17783
dtype: int64

In [15]:
# Data preprocessing - dropping columns with its rows only half populated
dropped_nulls_df = taken_out_cumulative_df.loc[:, taken_out_cumulative_df.isnull().mean() < .5]
dropped_nulls_df

,iso_code,continent,location,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,0.126,0.126,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,0.126,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,0.126,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,0.126,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,0.126,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,0.0,1163.429,0.0,16.000,13752.031,0.000,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151772,ZWE,Africa,Zimbabwe,2021-12-30,4180.0,1483.429,57.0,20.286,14028.996,276.965,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151773,ZWE,Africa,Zimbabwe,2021-12-31,1530.0,1503.143,7.0,19.000,14130.373,101.377,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151774,ZWE,Africa,Zimbabwe,2022-01-01,956.0,1495.429,13.0,18.857,14193.717,63.344,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151775,ZWE,Africa,Zimbabwe,2022-01-02,NaN,NaN,NaN,NaN,14193.717,NaN,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571

In [16]:
dropped_nulls_df.isnull().sum()

iso_code                               0
continent                              0
location                               0
date                                   0
new_cases                           2427
new_cases_smoothed                  3496
new_deaths                         19298
new_deaths_smoothed                19358
total_cases_per_million             2298
new_cases_per_million               2427
new_cases_smoothed_per_million      3496
new_deaths_per_million             19298
new_deaths_smoothed_per_million    19358
reproduction_rate                  29315
new_tests_smoothed                 68872
new_tests_smoothed_per_thousand    68872
tests_units                        66719
stringency_index                   23967
population                             0
population_density                  7902
median_age                         16267
aged_65_older                      17637
aged_70_older                      16944
gdp_per_capita                     16520
extreme_poverty                    59513
cardiovasc_death_rate              17258
diabetes_prevalence                10847
female_smokers                     45460
male_smokers                       46856
hospital_beds_per_thousand         29334
life_expectancy                      698
human_development_index            17783
dtype: int64

In [17]:
# Data preprocessing - dropping 'smoothed' columns
dropped_smooth_df=dropped_nulls_df.drop(['new_cases_smoothed','new_deaths_smoothed','new_deaths_smoothed_per_million','new_tests_smoothed_per_thousand','new_deaths_per_million','new_cases_per_million','total_cases_per_million'], axis=1)
dropped_smooth_df

,iso_code,continent,location,date,new_cases,new_deaths,new_cases_smoothed_per_million,reproduction_rate,new_tests_smoothed,tests_units,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,0.0,0.0,77.088,NaN,4563.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151772,ZWE,Africa,Zimbabwe,2021-12-30,4180.0,57.0,98.291,NaN,5017.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151773,ZWE,Africa,Zimbabwe,2021-12-31,1530.0,7.0,99.598,NaN,5259.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151774,ZWE,Africa,Zimbabwe,2022-01-01,956.0,13.0,99.086,NaN,5358.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571
151775,ZWE,Africa,Zimbabwe,2022-01-02,NaN,NaN,NaN,NaN,5502.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571

In [18]:
dropped_smooth_df.isnull().sum()

iso_code                              0
continent                             0
location                              0
date                                  0
new_cases                          2427
new_deaths                        19298
new_cases_smoothed_per_million     3496
reproduction_rate                 29315
new_tests_smoothed                68872
tests_units                       66719
stringency_index                  23967
population                            0
population_density                 7902
median_age                        16267
aged_65_older                     17637
aged_70_older                     16944
gdp_per_capita                    16520
extreme_poverty                   59513
cardiovasc_death_rate             17258
diabetes_prevalence               10847
female_smokers                    45460
male_smokers                      46856
hospital_beds_per_thousand        29334
life_expectancy                     698
human_development_index           17783
dtype: int64

In [19]:
dropped_smooth_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141649 entries, 0 to 151775
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   iso_code                        141649 non-null  object
 1   continent                       141649 non-null  object
 2   location                        141649 non-null  object
 3   date                            141649 non-null  datetime64[ns]
 4   new_cases                       139222 non-null  float64
 5   new_deaths                      122351 non-null  float64
 6   new_cases_smoothed_per_million  138153 non-null  float64
 7   reproduction_rate               112334 non-null  float64
 8   new_tests_smoothed              72777 non-null   float64
 9   tests_units                     74930 non-null   object
 10  stringency_index                117682 non-null  float64
 11  population                      141649 non-null  float64
 12  population_density              133747 non-null  float64
 13  median_age                      125382 non-null  float64
 14  aged_65_older                   124012 non-null  float64
 15  aged_70_older                   124705 non-null  float64
 16  gdp_per_capita                  125129 non-null  float64
 17  extreme_poverty                 82136 non-null   float64
 18  cardiovasc_death_rate           124391 non-null  float64
 19  diabetes_prevalence             130802 non-null  float64
 20  female_smokers                  96189 non-null   float64
 21  male_smokers                    94793 non-null   float64
 22  hospital_beds_per_thousand      112315 non-null  float64
 23  life_expectancy                 140951 non-null  float64
 24  human_development_index         123866 non-null  float64
dtypes: datetime64[ns](1), float64(20), object(4)
memory usage: 28.1+ MB

In [20]:
# Data preprocessing - dropping 'na'
cleaned_df=dropped_smooth_df.dropna()
cleaned_df

,iso_code,continent,location,date,new_cases,new_deaths,new_cases_smoothed_per_million,reproduction_rate,new_tests_smoothed,tests_units,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
1397,ALB,Europe,Albania,2020-03-24,19.0,1.0,3.381,1.20,40.0,tests performed,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1398,ALB,Europe,Albania,2020-03-25,23.0,0.0,4.326,1.18,37.0,tests performed,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1399,ALB,Europe,Albania,2020-03-26,28.0,1.0,5.470,1.14,47.0,tests performed,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1400,ALB,Europe,Albania,2020-03-27,12.0,2.0,5.768,1.08,56.0,tests performed,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1401,ALB,Europe,Albania,2020-03-28,11.0,2.0,6.017,1.05,61.0,tests performed,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151758,ZWE,Africa,Zimbabwe,2021-12-16,4367.0,14.0,248.379,1.42,12471.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
151759,ZWE,Africa,Zimbabwe,2021-12-17,7510.0,20.0,319.466,1.35,11700.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
151760,ZWE,Africa,Zimbabwe,2021-12-18,0.0,0.0,232.524,1.23,11251.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
151761,ZWE,Africa,Zimbabwe,2021-12-19,2106.0,3.0,232.221,1.15,10478.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
151762,ZWE,Africa,Zimbabwe,2021-12-20,3406.0,23.0,264.461,1.08,9270.0,tests performed,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571

In [21]:
cleaned_df=cleaned_df.reset_index(drop=True)

In [22]:
cleaned_df['location'].value_counts()

Italy       666
Belgium     657
Denmark     653
Portugal    651
Malaysia    649
           ...
Moldova     173
Laos        160
Gambia      135
Timor        92
Fiji         83
Name: location, Length: 75, dtype: int64

In [23]:
# Data preprocessing - dropping 'iso_code' as it is redundant; location has the same purpose - also removing 'new_cases_smoothed_per_million' + 'tests_units'
cleaned_df = cleaned_df.drop(['new_tests_smoothed','iso_code', 'new_cases_smoothed_per_million', 'tests_units'],axis=1)
cleaned_df

,continent,location,date,new_cases,new_deaths,reproduction_rate,stringency_index,population,population_density,median_age,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Europe,Albania,2020-03-24,19.0,1.0,1.20,84.26,2872934.0,104.871,38.0,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1,Europe,Albania,2020-03-25,23.0,0.0,1.18,84.26,2872934.0,104.871,38.0,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
2,Europe,Albania,2020-03-26,28.0,1.0,1.14,84.26,2872934.0,104.871,38.0,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
3,Europe,Albania,2020-03-27,12.0,2.0,1.08,84.26,2872934.0,104.871,38.0,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
4,Europe,Albania,2020-03-28,11.0,2.0,1.05,84.26,2872934.0,104.871,38.0,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40872,Africa,Zimbabwe,2021-12-16,4367.0,14.0,1.42,63.89,15092171.0,42.729,19.6,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40873,Africa,Zimbabwe,2021-12-17,7510.0,20.0,1.35,63.89,15092171.0,42.729,19.6,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40874,Africa,Zimbabwe,2021-12-18,0.0,0.0,1.23,63.89,15092171.0,42.729,19.6,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40875,Africa,Zimbabwe,2021-12-19,2106.0,3.0,1.15,63.89,15092171.0,42.729,19.6,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40876,Africa,Zimbabwe,2021-12-20,3406.0,23.0,1.08,63.89,15092171.0,42.729,19.6,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571

In [24]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40877 entries, 0 to 40876
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   continent                   40877 non-null  object
 1   location                    40877 non-null  object
 2   date                        40877 non-null  datetime64[ns]
 3   new_cases                   40877 non-null  float64
 4   new_deaths                  40877 non-null  float64
 5   reproduction_rate           40877 non-null  float64
 6   stringency_index            40877 non-null  float64
 7   population                  40877 non-null  float64
 8   population_density          40877 non-null  float64
 9   median_age                  40877 non-null  float64
 10  aged_65_older               40877 non-null  float64
 11  aged_70_older               40877 non-null  float64
 12  gdp_per_capita              40877 non-null  float64
 13  extreme_poverty             40877 non-null  float64
 14  cardiovasc_death_rate       40877 non-null  float64
 15  diabetes_prevalence         40877 non-null  float64
 16  female_smokers              40877 non-null  float64
 17  male_smokers                40877 non-null  float64
 18  hospital_beds_per_thousand  40877 non-null  float64
 19  life_expectancy             40877 non-null  float64
 20  human_development_index     40877 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 6.5+ MB

In [25]:
# output_data_file = "Covid_Cleaned_Database.csv"
# cleaned_df.to_csv(output_data_file, index_label="Row_ID")

In [26]:
for column in cleaned_df.columns:
    print(f"Column {column} has {cleaned_df[column].isnull().sum()} null values")

Column continent has 0 null values
Column location has 0 null values
Column date has 0 null values
Column new_cases has 0 null values
Column new_deaths has 0 null values
Column reproduction_rate has 0 null values
Column stringency_index has 0 null values
Column population has 0 null values
Column population_density has 0 null values
Column median_age has 0 null values
Column aged_65_older has 0 null values
Column aged_70_older has 0 null values
Column gdp_per_capita has 0 null values
Column extreme_poverty has 0 null values
Column cardiovasc_death_rate has 0 null values
Column diabetes_prevalence has 0 null values
Column female_smokers has 0 null values
Column male_smokers has 0 null values
Column hospital_beds_per_thousand has 0 null values
Column life_expectancy has 0 null values
Column human_development_index has 0 null values

In [27]:
#from config import db_password
#file_dir = 'Resources'

In [28]:
X=cleaned_df.drop(['new_cases'],axis=1)
X

,continent,location,date,new_deaths,reproduction_rate,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Europe,Albania,2020-03-24,1.0,1.20,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1,Europe,Albania,2020-03-25,0.0,1.18,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
2,Europe,Albania,2020-03-26,1.0,1.14,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
3,Europe,Albania,2020-03-27,2.0,1.08,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
4,Europe,Albania,2020-03-28,2.0,1.05,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40872,Africa,Zimbabwe,2021-12-16,14.0,1.42,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40873,Africa,Zimbabwe,2021-12-17,20.0,1.35,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40874,Africa,Zimbabwe,2021-12-18,0.0,1.23,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40875,Africa,Zimbabwe,2021-12-19,3.0,1.15,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40876,Africa,Zimbabwe,2021-12-20,23.0,1.08,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571

In [29]:
import time

In [30]:
# from sqlalchemy import create_engine
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Covid_data"
# engine = create_engine(db_string)
# X.to_sql('features', engine)

In [31]:
y=cleaned_df['new_cases']
y=pd.DataFrame(y)
y

       new_cases
0           19.0
1           23.0
2           28.0
3           12.0
4           11.0
...          ...
40872     4367.0
40873     7510.0
40874        0.0
40875     2106.0
40876     3406.0

[40877 rows x 1 columns]

In [32]:
# from sqlalchemy import create_engine
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Covid_data"
# engine = create_engine(db_string)
# y.to_sql('target_variable', engine)

In [33]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [34]:
X['location'] = LabelEncoder().fit_transform(X['location'])
X['date'] = LabelEncoder().fit_transform(X['date'])
X

,continent,location,date,new_deaths,reproduction_rate,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Europe,0,32,1.0,1.20,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
1,Europe,0,33,0.0,1.18,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
2,Europe,0,34,1.0,1.14,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
3,Europe,0,35,2.0,1.08,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
4,Europe,0,36,2.0,1.05,84.26,2872934.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,2.89,78.57,0.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40872,Africa,74,664,14.0,1.42,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40873,Africa,74,665,20.0,1.35,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40874,Africa,74,666,0.0,1.23,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40875,Africa,74,667,3.0,1.15,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571
40876,Africa,74,668,23.0,1.08,63.89,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,1.70,61.49,0.571

In [35]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40877 entries, 0 to 40876
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   continent                   40877 non-null  object
 1   location                    40877 non-null  int32
 2   date                        40877 non-null  int64
 3   new_deaths                  40877 non-null  float64
 4   reproduction_rate           40877 non-null  float64
 5   stringency_index            40877 non-null  float64
 6   population                  40877 non-null  float64
 7   population_density          40877 non-null  float64
 8   median_age                  40877 non-null  float64
 9   aged_65_older               40877 non-null  float64
 10  aged_70_older               40877 non-null  float64
 11  gdp_per_capita              40877 non-null  float64
 12  extreme_poverty             40877 non-null  float64
 13  cardiovasc_death_rate       40877 non-null  float64
 14  diabetes_prevalence         40877 non-null  float64
 15  female_smokers              40877 non-null  float64
 16  male_smokers                40877 non-null  float64
 17  hospital_beds_per_thousand  40877 non-null  float64
 18  life_expectancy             40877 non-null  float64
 19  human_development_index     40877 non-null  float64
dtypes: float64(17), int32(1), int64(1), object(1)
memory usage: 6.1+ MB

In [36]:
continent_cat = X.dtypes[X.dtypes == "object"].index.tolist()
continent_cat

['continent']

In [37]:
y.describe()

           new_cases
count   40877.000000
mean     5315.428089
std     18647.331765
min    -74347.000000
25%       100.000000
50%       695.000000
75%      2953.000000
max    414188.000000

In [38]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(X[continent_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(continent_cat)
encode_df.head()

C:\Users\kimbl\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0

In [39]:
# Merge one-hot encoded features and drop the originals
X = X.merge(encode_df,left_index=True, right_index=True)
X = X.drop(continent_cat,1)
X

C:\Users\kimbl\AppData\Local\Temp/ipykernel_19872/1881480399.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = X.drop(continent_cat,1)

,location,date,new_deaths,reproduction_rate,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,...,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,0,32,1.0,1.20,84.26,2872934.0,104.871,38.0,13.188,8.643,...,51.2,2.89,78.57,0.795,0.0,0.0,1.0,0.0,0.0,0.0
1,0,33,0.0,1.18,84.26,2872934.0,104.871,38.0,13.188,8.643,...,51.2,2.89,78.57,0.795,0.0,0.0,1.0,0.0,0.0,0.0
2,0,34,1.0,1.14,84.26,2872934.0,104.871,38.0,13.188,8.643,...,51.2,2.89,78.57,0.795,0.0,0.0,1.0,0.0,0.0,0.0
3,0,35,2.0,1.08,84.26,2872934.0,104.871,38.0,13.188,8.643,...,51.2,2.89,78.57,0.795,0.0,0.0,1.0,0.0,0.0,0.0
4,0,36,2.0,1.05,84.26,2872934.0,104.871,38.0,13.188,8.643,...,51.2,2.89,78.57,0.795,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40872,74,664,14.0,1.42,63.89,15092171.0,42.729,19.6,2.822,1.882,...,30.7,1.70,61.49,0.571,1.0,0.0,0.0,0.0,0.0,0.0
40873,74,665,20.0,1.35,63.89,15092171.0,42.729,19.6,2.822,1.882,...,30.7,1.70,61.49,0.571,1.0,0.0,0.0,0.0,0.0,0.0
40874,74,666,0.0,1.23,63.89,15092171.0,42.729,19.6,2.822,1.882,...,30.7,1.70,61.49,0.571,1.0,0.0,0.0,0.0,0.0,0.0
40875,74,667,3.0,1.15,63.89,15092171.0,42.729,19.6,2.822,1.882,...,30.7,1.70,61.49,0.571,1.0,0.0,0.0,0.0,0.0,0.0
40876,74,668,23.0,1.08,63.89,15092171.0,42.729,19.6,2.822,1.882,...,30.7,1.70,61.49,0.571,1.0,0.0,0.0,0.0,0.0,0.0

In [40]:
X = X.rename(columns = {
    'continent_North America' : 'continent_North_America',
    'continent_South America' : 'continent_South_America'
})

In [41]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [42]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [43]:
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [44]:
#clf = RandomForestClassifier(random_state=1, n_estimators=100, max_depth=20).fit(X_train_scaled, y_train)
#print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
#print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

In [45]:
#feature_importances = clf.feature_importances_

In [46]:
#features = sorted(zip(X.columns, clf.feature_importances_), key = lambda x: x[1])
#cols = [f[0] for f in features]
#width = [f[1] for f in features]

#fig, ax = plt.subplots()

#fig.set_size_inches(10,200)
#plt.margins(y=0.001)

#ax.barh(y=cols, width=width)

#plt.show()

In [47]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=200, random_state=0)
regressor.fit(X_train,y_train)

C:\Users\kimbl\anaconda3\envs\mlenv\lib\site-packages\daal4py\sklearn\ensemble\_forest.py:938: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return _fit_regressor(self, X, y, sample_weight=sample_weight)

RandomForestRegressor(n_estimators=200, random_state=0)

In [48]:
y_pred = regressor.predict(X_test)
y_pred

array([6.42243216e+04, 3.88659500e+03, 5.00730250e+03, ...,
       5.73843625e+04, 5.61153365e+01, 4.18202187e+02])

In [49]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9639722397536303