In [1]:
import pandas as pd
from path import Path
# Load data
file_path = Path("Resources/owid-covid-data.csv")
raw_covid_df = pd.read_csv(file_path)
raw_covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [5]:
#Convert Date column to datetime
raw_covid_df['date'] = pd.to_datetime(raw_covid_df['date'], format='%Y-%m-%d')

In [7]:
raw_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151776 entries, 0 to 151775
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    151776 non-null  object
 1   continent                                   142626 non-null  object
 2   location                                    151776 non-null  object
 3   date                                        151776 non-null  datetime64[ns]
 4   total_cases                                 149154 non-null  float64
 5   new_cases                                   149032 non-null  float64
 6   new_cases_smoothed                          147881 non-null  float64
 7   total_deaths                                131989 non-null  float64
 8   new_deaths                                  132139 non-null  float64
 9   new_deaths_smoothed                         132007 non-null  float64
 10  total_cases_per_million                     148458 non-null  float64
 11  new_cases_per_million                       148336 non-null  float64
 12  new_cases_smoothed_per_million              147190 non-null  float64
 13  total_deaths_per_million                    131306 non-null  float64
 14  new_deaths_per_million                      131456 non-null  float64
 15  new_deaths_smoothed_per_million             131324 non-null  float64
 16  reproduction_rate                           113675 non-null  float64
 17  icu_patients                                18542 non-null   float64
 18  icu_patients_per_million                    18542 non-null   float64
 19  hosp_patients                               20358 non-null   float64
 20  hosp_patients_per_million                   20358 non-null   float64
 21  weekly_icu_admissions                       4280 non-null    float64
 22  weekly_icu_admissions_per_million           4280 non-null    float64
 23  weekly_hosp_admissions                      8574 non-null    float64
 24  weekly_hosp_admissions_per_million          8574 non-null    float64
 25  new_tests                                   60362 non-null   float64
 26  total_tests                                 61737 non-null   float64
 27  total_tests_per_thousand                    61737 non-null   float64
 28  new_tests_per_thousand                      60362 non-null   float64
 29  new_tests_smoothed                          73687 non-null   float64
 30  new_tests_smoothed_per_thousand             72991 non-null   float64
 31  positive_rate                               68804 non-null   float64
 32  tests_per_case                              68141 non-null   float64
 33  tests_units                                 75151 non-null   object
 34  total_vaccinations                          38575 non-null   float64
 35  people_vaccinated                           37054 non-null   float64
 36  people_fully_vaccinated                     34271 non-null   float64
 37  total_boosters                              11955 non-null   float64
 38  new_vaccinations                            31955 non-null   float64
 39  new_vaccinations_smoothed                   70182 non-null   float64
 40  total_vaccinations_per_hundred              38575 non-null   float64
 41  people_vaccinated_per_hundred               37054 non-null   float64
 42  people_fully_vaccinated_per_hundred         34271 non-null   float64
 43  total_boosters_per_hundred                  11955 non-null   float64
 44  new_vaccinations_smoothed_per_million       70182 non-null   float64
 45  new_people_vaccinated_smoothed              69021 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  69021 non-null   float64
 47  stringency_index                            118328 non-null  float64
 48  population                                  150763 non-null  float64
 49  population_density                          135119 non-null  float64
 50  median_age                                  126094 non-null  float64
 51  aged_65_older                               124724 non-null  float64
 52  aged_70_older                               125417 non-null  float64
 53  gdp_per_capita                              126501 non-null  float64
 54  extreme_poverty                             83508 non-null   float64
 55  cardiovasc_death_rate                       125103 non-null  float64
 56  diabetes_prevalence                         131514 non-null  float64
 57  female_smokers                              96901 non-null   float64
 58  male_smokers                                95505 non-null   float64
 59  handwashing_facilities                      62652 non-null   float64
 60  hospital_beds_per_thousand                  113027 non-null  float64
 61  life_expectancy                             141663 non-null  float64
 62  human_development_index                     124578 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 77.6+ MB

In [6]:
raw_covid_df.isnull().sum()

iso_code                                        0
continent                                    9150
location                                        0
date                                            0
total_cases                                  2622
                                            ...
human_development_index                     27198
excess_mortality_cumulative_absolute       146542
excess_mortality_cumulative                146542
excess_mortality                           146542
excess_mortality_cumulative_per_million    146542
Length: 67, dtype: int64

In [8]:
Covid_Stats_Last3Months = raw_covid_df[raw_covid_df['date']>'2021-10-01']
Covid_Stats_Last3Months

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
586,AFG,Asia,Afghanistan,2021-10-02,155191.0,0.0,33.000,7206.0,0.0,1.000,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
587,AFG,Asia,Afghanistan,2021-10-03,155191.0,0.0,33.000,7206.0,0.0,1.000,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
588,AFG,Asia,Afghanistan,2021-10-04,155287.0,96.0,30.714,7212.0,6.0,1.714,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
589,AFG,Asia,Afghanistan,2021-10-05,155309.0,22.0,30.857,7214.0,2.0,1.857,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
590,AFG,Asia,Afghanistan,2021-10-06,155380.0,71.0,36.000,7220.0,6.0,2.286,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [9]:
Covid_Stats_Last3Months.isnull().sum()

iso_code                                       0
continent                                   1209
location                                       0
date                                           0
total_cases                                  358
                                           ...
human_development_index                     3958
excess_mortality_cumulative_absolute       21117
excess_mortality_cumulative                21117
excess_mortality                           21117
excess_mortality_cumulative_per_million    21117
Length: 67, dtype: int64

In [10]:
Covid_Stats_Last3Months.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21535 entries, 586 to 151775
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    21535 non-null  object
 1   continent                                   20326 non-null  object
 2   location                                    21535 non-null  object
 3   date                                        21535 non-null  object
 4   total_cases                                 21177 non-null  float64
 5   new_cases                                   21060 non-null  float64
 6   new_cases_smoothed                          21055 non-null  float64
 7   total_deaths                                19909 non-null  float64
 8   new_deaths                                  19864 non-null  float64
 9   new_deaths_smoothed                         19864 non-null  float64
 10  total_cases_per_million                     21084 non-null  float64
 11  new_cases_per_million                       20967 non-null  float64
 12  new_cases_smoothed_per_million              20962 non-null  float64
 13  total_deaths_per_million                    19816 non-null  float64
 14  new_deaths_per_million                      19771 non-null  float64
 15  new_deaths_smoothed_per_million             19771 non-null  float64
 16  reproduction_rate                           16095 non-null  float64
 17  icu_patients                                2604 non-null   float64
 18  icu_patients_per_million                    2604 non-null   float64
 19  hosp_patients                               2748 non-null   float64
 20  hosp_patients_per_million                   2748 non-null   float64
 21  weekly_icu_admissions                       766 non-null    float64
 22  weekly_icu_admissions_per_million           766 non-null    float64
 23  weekly_hosp_admissions                      1263 non-null   float64
 24  weekly_hosp_admissions_per_million          1263 non-null   float64
 25  new_tests                                   7312 non-null   float64
 26  total_tests                                 7804 non-null   float64
 27  total_tests_per_thousand                    7804 non-null   float64
 28  new_tests_per_thousand                      7312 non-null   float64
 29  new_tests_smoothed                          10123 non-null  float64
 30  new_tests_smoothed_per_thousand             10035 non-null  float64
 31  positive_rate                               9659 non-null   float64
 32  tests_per_case                              9644 non-null   float64
 33  tests_units                                 10275 non-null  object
 34  total_vaccinations                          10222 non-null  float64
 35  people_vaccinated                           9675 non-null   float64
 36  people_fully_vaccinated                     9889 non-null   float64
 37  total_boosters                              5582 non-null   float64
 38  new_vaccinations                            8227 non-null   float64
 39  new_vaccinations_smoothed                   18985 non-null  float64
 40  total_vaccinations_per_hundred              10222 non-null  float64
 41  people_vaccinated_per_hundred               9675 non-null   float64
 42  people_fully_vaccinated_per_hundred         9889 non-null   float64
 43  total_boosters_per_hundred                  5582 non-null   float64
 44  new_vaccinations_smoothed_per_million       18985 non-null  float64
 45  new_people_vaccinated_smoothed              18702 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  18702 non-null  float64
 47  stringency_index                            14469 non-null  float64
 48  population                                  21386 non-null  float64
 49  population_density                          19076 non-null  float64
 50  median_age                                  17670 non-null  float64
 51  aged_65_older                               17484 non-null  float64
 52  aged_70_older                               17577 non-null  float64
 53  gdp_per_capita                              17867 non-null  float64
 54  extreme_poverty                             11646 non-null  float64
 55  cardiovasc_death_rate                       17577 non-null  float64
 56  diabetes_prevalence                         18528 non-null  float64
 57  female_smokers                              13578 non-null  float64
 58  male_smokers                                13392 non-null  float64
 59  handwashing_facilities                      8835 non-null   float64
 60  hospital_beds_per_thousand                  15810 non-null  float64
 61  life_expectancy                             20110 non-null  float64
 62  human_development_index                     17577 non-null  float64
 63  excess_mortality_cumulative_absolute        418 non-null    float64
 64  excess_mortality_cumulative                 418 non-null    float64
 65  excess_mortality                            418 non-null    float64
 66  excess_mortality_cumulative_per_million     418 non-null    float64
dtypes: float64(62), object(5)
memory usage: 11.2+ MB

In [2]:
Iso_Cleaned_df = raw_covid_df[~raw_covid_df['iso_code'].astype(str).str.startswith('OWID')]
Iso_Cleaned_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.0,0.0,1163.429,4940.0,0.0,16.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.0,4180.0,1483.429,4997.0,57.0,20.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.0,1530.0,1503.143,5004.0,7.0,19.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.0,956.0,1495.429,5017.0,13.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.0,NaN,NaN,5017.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN